.pregame {
    padding: 10px 24px;
    overflow: auto;
}

.header {
    text-align: right;
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.pregame-content {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    min-height: 160px;
}

.pregame-content > h1 {
    font-family: 'Oswald';
    margin: 0;
    font-size: 60px;
}

.pregame-content > h1 {
    padding-right: 8px;
}

.pregame-content > h2 {
    font-weight: normal;
    padding-left: 50%;
    padding-top: 0;
    margin: -8px 0 0;
    font-size: 36px;
}

.button-div {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 16px;
}